{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}

<h1>Programme de la session :</h1>

{% for program in programs %}
    {{ program.unit }}
{% endfor %}

{% endblock %}
