{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}

<h1>Programme de la session :</h1>

{% for unit in program %}
    {{ unit }}
{% endfor %}
<h2>{{ program.session }}</h2>
{% endblock %}
