{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    

<div class="wrapper centered">
    <h1>Bienvenue sur la plateforme de Sessions</h1>
</div>

{% endblock %}
