*{
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0025A8;
}

h1 {
    margin: 0;
}

li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
}

/*==================================LISTE STAGIAIRES=================================== */

.btnDiv {
    background-color: #0025A8;
}
.btn {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 0;
}

table {
    width: 100%;
    text-align: center;
}


/*================================PAGE STAGIAIRE====================================== */


#traineeBox {
    background-color: #1538B2;
    padding: 30px;
    margin: 30px 0;
}

#traineeBox p, #traineeBox h1, #traineeBox h2 {
    color: white;
}

.editBtn {
    color: white;
    border: solid 2px white;
    padding: 8px;
    text-decoration: none;
}

.deleteBtn {
    color: white;
    background-color: red;
    padding: 15px;
    /* margin: 10px; */
    height: 10px;
    width: fit-content;
}