@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'inter';
}


body {
    background-color: white;
}

nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21,56,178, 0.8);
}

h1 {
    margin: 0;
}

li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .wrapperRow {
    display: flex;
    justify-content: center;
} */

.centered {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 15px 0;
}

h2 {
    margin: 15px 0;
}

/*==================================LISTE STAGIAIRES=================================== */

.btnDiv {
    background-color: rgb(21,56,178, 0.6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    opacity: 1;
}
.btn {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 0;
}

.btnDiv:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    text-align: center;
}

td {
    border: solid 1px grey;
    padding: 10px 0;
    opacity: 0.9;
}

td:hover {
    background-color: rgb(21,56,178, 0.6);
    opacity: 1;
}

td a {
    text-decoration: none;
    padding: 20px 80px;
    color: black;
}
td:hover a {
    color: white;
}

/*================================PAGE STAGIAIRE====================================== */


#traineeBox {
    background-color: rgb(21,56,178, 0.6);
    padding: 10px 30px;
    margin: 30px 0;
}

#traineeBox p, #traineeBox h1, #traineeBox h2 {
    color: white;
}

#traineeBox p {
    margin: 25px 0;
}

.editBtn {
    color: white;
    border: solid 2px white;
    padding: 8px;
    text-decoration: none;
}

.editBtn:hover {
    color: rgb(21,56,178, 0.6);
    background-color: white;
}

.deleteBtn {
    color: white;
    text-decoration: none;
    background-color: rgb(235, 72, 72, 0.78);
    padding: 15px;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    opacity: 1;
}

.deleteBtn:hover {
    opacity: 0.8;
}

