{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

    <div class="centered">
        <div class="table">
            <table>
                <tr>
                    <th><h3>Liste des stagiaires</h3></th>
                </tr>
                {% for trainee in trainees %}
                    <tr>
                    <td><a href="{{ path('show_trainee', {'id': trainee.id}) }}">{{ trainee }}</a></td> <!--lien vers l'affichage du détail d'un stagiaire-->
                    </tr>
                {% endfor %}
            </table>
            <div class="btnDiv">
                <a class="btn" href="{{ path('new_trainee') }}">Ajouter un stagiaire</a><!--lien pour ajouter un stagiaire à la BDD-->
            </div>
        </div>

    </div>
        

{% endblock %}
