{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}
    <h1>Liste des stagiaires</h1>

    {% for trainee in trainees %}
        <a href="">{{ trainee }}</a><br>
    {% endfor %}


{% endblock %}
