{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

    <div class="centered">
        <table>
            <th><h1>Liste des stagiaires</h1></th>

            {% for trainee in trainees %}
                <td></td><a href="{{ path('show_trainee', {'id': trainee.id}) }}">{{ trainee }}</a></table></td><!--lien vers l'affichage du détail d'un stagiaire-->
            {% endfor %}
        </table>
        <a href="{{ path('new_trainee') }}">Ajouter un stagiaire</a><!--lien pour ajouter un stagiaire à la BDD-->
    </div>


{% endblock %}
